*{ box-sizing: border-box; }

html, body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.wrapper{
    width: 450px;
    margin: 100px auto 0;
    padding: .6rem .4rem;
    border: dotted 1px red;
    color: white;
    background-color: rgb(2, 2, 61);
}

.actions{
    width: 100%;
    height: 4vh;
    padding: 0 .6rem;
    display: flex;
    justify-content: space-between;
}

input{
    height: 30px;
}

select{
    background-color: black;
    color: white;
    width: 50%;
    outline: 0;
    padding: 0 .5em;
}

button{
    background-color: rgb(82, 81, 81);
    color: white;
    padding: .3em .8em;
}

select,
button{
    border: 1px solid rgb(179, 170, 170);
    border-radius: 3px;
}

.scheme-stage{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 1.2rem;
}

.colors{
    width: 25%;
    height: 90%;
}

.hex-code{
    position: relative;
    top: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
}
